rtp-criteria-panel > div {
    background-color: #333;
}

rtp-criteria-panel div.top-panel {
  height: 50%;
}

rtp-criteria-panel div.bottom-panel {
  height: 48%;
}

rtp-criteria-panel div.card.list {
    background-color: #555;
    width: 100%;
}

rtp-criteria-panel div.card.list > a {
    background-color: #555;
    color: #fff;
    overflow-y: hidden;
}

rtp-criteria-panel div.card.list > a:hover {
    background-color: #222;
    color: #fff;
}

rtp-criteria-panel ion-scroll {
  width: 100%;
  overflow: auto;
  background-color: #444;
}


rtp-criteria-panel .trip-delete-icon {
  font-size: 200%;
  position: absolute;
  right: 16px;
  top: 16px;
  color: red;
}
