rtp-criteria-panel div.bottom-panel {
  top: 50%;
  height:50%;
  width: 95%;
  position: absolute;
}
rtp-criteria-panel div.bottom-panel > ion-content.list {
  margin-bottom: 40px;
  background-color: #444;
}

rtp-criteria-panel div.top-panel {
  width: 97%;
  top: 5%;
  height:40%;
  position: absolute;
}

rtp-criteria-panel div.top-panel > ion-content.list {
  margin-bottom: 20px;
}

rtp-criteria-panel div.top-panel > ion-content.list > div.scroll{
  background-color: #444;
}

rtp-criteria-panel div.card.list > a {
    background-color: #555;
    color: #fff;
    overflow-y: hidden;
}

rtp-criteria-panel div.card.list > a:hover {
    background-color: #222;
    color: #fff;
}

rtp-criteria-panel ion-scroll {
  width: 100%;
  overflow: auto;
  background-color: #444;
}


rtp-criteria-panel .trip-delete-icon {
  font-size: 200%;
  position: absolute;
  right: 16px;
  top: 16px;
  color: red;
}
