
<div class='row top-panel'>
  <div class="list card">
    <a class="item" >
      <div class="row">
        <div class="text-white"><b>French Tost Adventure</b></div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-50">
          Origin
          <br>
          <br>
          Canadian Museum of History
        </div>
        <div class="col-50">
          Destination
          <br>
          <br>
          1000 Islands
        </div>
        <div class="col-50">
          Distance
          <br>
          <br>
          Canadian Museum of History
        </div>
        <div class="col-50">
        <ion-list>
          Points of interest
          <ion-item  ng-click="openPoi()">
            Canadian Museum of History
          </ion-item>
          <ion-item  ng-click="openPoi()">
            1000 Islands
          </ion-item>
          <ion-item  ng-click="openPoi()">
            Canadian Museum of Civilization
          </ion-item>
        </ion-list>
      </div>
    </a>
  </div>
  </div>
</div>
<div class='row bottom-panel'>
  <div class="list card">
    <a class="item" ng-repeat="trip in previousTrips" ng-click="openTrip($index)">
      <div class="row">
        <div class="text-white"><b>{{trip.name}}</b></div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-50">
          Distance
          <br>
          {{trip.distance}}
        </div>
        <div class="col-50">
        Created On
        <br>
        {{trip.createdOn}}
        </div>
      </div>
    </a>
  </div>

</div>
