<div class='row top-panel'>
</div>
<div class='row bottom-panel'>
  <div class="list card">
    <a class="item" ng-repeat="trip in previousTrips" ng-click="openTrip($index)">
      <div class="row">
        <div class="text-white"><b>{{trip.name}}</b></div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-50">
          Distance
          <br>
          {{trip.distance}}
        </div>
        <div class="col-50">
        Created On
        <br>
        {{trip.createdOn}}
        </div>
      </div>
    </a>
  </div>

</div>
