<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-dark">
    <h1 class="title">Create New User</h1>
    <button class="button button-clear button-primary" ng-click="closeSignUpModal()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input ng-model="data.signUpEmail" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input ng-model="data.signUpPw" type="text">
      </label>
      <button class="button button-full button-dark" ng-click="createNewUser(data.signUpEmail,data.signUpPw)">Create Profile</button>
    </div>
  </ion-content>
</ion-modal-view>
