ion-side-menu {
  background-color: #333;
}


ion-nav-bar button.button-icon.ion-navicon-round {
  margin-top: -10px;

}

.logout-button {
  position: absolute;
  bottom: 0px;
  z-index: 10;
}


li.mfb-component__wrap > a {
  background-color: #444444;
}
